<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
  <mapper namespace="announceMapper">
  	<resultMap type="subCategory" id="subCategoryResultSet">
  			<result column="CATEGORY_NAME" property="categoryName"/>
  			<result column="CHANGE_NAME" property="image"/>
  			<result column="DETAIL_NAME" property="detailName"/>
  			<result column="DETAIL_NO" property="detailNo"/>
  	</resultMap>
  	<resultMap type="mainCategory" id="mainCategoryResultSet">
  		<result column="CATEGORY_NO" property="categoryNo"/>
  		<result column="CATEGORY_NAME" property="categoryName"/>
  	</resultMap>
  	
  	<resultMap type="detailCategory" id="detailCategoryResultSet">
  			<result column="DETAIL_NO" property="detailNo"/>
  			<result column="DETAIL_NAME" property="detailName"/>
  	</resultMap>
  	<resultMap type="announcement" id="announceResultSet">
  			<result column="REVIEW_AVERAGE" property="reviewAverage"/>
  			<result column="REVIEW_COUNT" property="reviewCount"/>
  			<result column="ADDRESS" property="address"/>
  			<result column="ONELINE_INTRO" property="oneLineIntroduce"/>
  			<result column="PROFILE_NO" property="profileNo"/>
  			<result column="USER_NICKNAME" property="userNickname"/>
  			<result column="CHANGE_NAME" property="changeName"/>
  	</resultMap>
  	<select id="selectSubCategory" resultMap="subCategoryResultSet">
  		SELECT DETAIL_NO
		      ,DETAIL_NAME
		      ,CHANGE_NAME
		      ,CATEGORY_NAME
		FROM DETAIL_CATEGORY DC
		JOIN ATTACHMENT ON(REF_NO=DETAIL_NO)
		JOIN MAIN_CATEGORY MC ON(DC.CATEGORY_NO=MC.CATEGORY_NO)
		WHERE MC.CATEGORY_NO = #{categoryNo}
		AND FILE_TYPE = 'detail-category-image'
  	</select>
  	<select id="selectMainCategory" resultMap="mainCategoryResultSet">
  		SELECT *
		FROM MAIN_CATEGORY
  	</select>
  	<select id="selectDetailCategory" resultMap="detailCategoryResultSet">
  		SELECT DETAIL_NO
  			  ,DETAIL_NAME
  		FROM DETAIL_CATEGORY
  		WHERE STATUS = 'Y'
  		AND CATEGORY_NO IN
  		<foreach collection="array" item="arr" open="(" close=")" separator=",">
		 #{arr}
		</foreach>
  	</select>
  	<select id="selectAnnounceList" resultMap="announceResultSet">
  		SELECT REVIEW_AVERAGE
              ,REVIEW_COUNT
		      ,ADDRESS
              ,MAIN_SERVICE
              ,SUB_SERVICE
		      ,ONELINE_INTRO
		      ,P.PROFILE_NO
		      ,USER_NICKNAME
              ,A.CHANGE_NAME
		FROM PROFILE P
		LEFT JOIN REVIEW R ON(P.PROFILE_NO=R.PROFILE_NO)
		LEFT JOIN MEMBER M ON(P.USER_NO=M.USER_NO) 
        LEFT JOIN ATTACHMENT A ON(P.USER_NO=A.REF_NO)
		WHERE (SUB_SERVICE = (SELECT DETAIL_NAME
		                     FROM DETAIL_CATEGORY
		                     WHERE DETAIL_NO = #{detailNo})
		OR MAIN_SERVICE =   (SELECT DETAIL_NAME
		                     FROM DETAIL_CATEGORY
		                     WHERE DETAIL_NO = #{detailNo}))
        AND FILE_TYPE = 'profile-picture'
        GROUP BY 
            P.PROFILE_NO,
            REVIEW_AVERAGE,
            REVIEW_COUNT,
            ADDRESS,
            MAIN_SERVICE,
            SUB_SERVICE,
            ONELINE_INTRO,
            USER_NICKNAME,
            CHANGE_NAME 
  	
  	</select>
  </mapper>